<template>
 <div id = "app">
        <h1>TODO App</h1>
        <label>New TODO</label>
        <input type="text" v-model = "content">
        <button @click = "addContent()">Add TODO</button>
        <h2>TODO List ({{todo.length}})</h2>
        <ul>
            <li v-for="(todo,index) in todo" :key="index" >
                <!-- <span v-if = "todo.done" style = "text-decoration: line-through;" @click = "done(todo)" >{{todo.content}}</span>
                <span v-else @click = "done(todo)" >{{todo.content}}</span> -->
                <span :class = "{ done:todo.done , notDone:!todo.done}" @click = "done(todo)" >{{todo.content}}</span>
                <button @click = "removeTodo(index)">X</button>
            </li>
        </ul>
   </div>
</template>

<script>

export default {
  name: 'App',
  data () {
    return {
      todo: [
        { content: 'Eat rice  ', done: false },
        { content: 'Read a book ', done: false }
      ],
      content: ''
    }
  },
  methods: {
    addContent () {
      console.log(this.content)
      this.todo.push({ content: this.content, done: false })
      this.content = ''
    },
    removeTodo (index) {
      this.todo.splice(index, 1)
    },
    done (todo) {
      todo.done = !todo.done
      console.log(todo)
    }
  }
}
</script>

<style>
.done{
  color:red
  }
.notDone{
  color:blue
}
</style>
